:root {
  --yinyong: #6194a7;
  --lineHight: 2em;
}

p {
  font-size: 1em;
  line-height: var(--lineHight);
}

h1 {
  font-size: 2.8em;
}

h2 {
  font-size: 1.8em;
}

// 代码块样式
code {
  border-radius: 5px;
  margin: 0 5px;
  background: rgba(0, 0, 0, 0.06);
}

// 这是引用块样式
blockquote {
  border-left: 4px solid var(--yinyong);
  padding: 0 0 0 8px;

  // 引用块中文本样式
  p {
    font-size: 20px;
  }
}

details {
  box-shadow: 0.1rem 0.1rem 0.2rem #00000028;
  border-radius: 8px;

  summary {
    margin-top: 15px;

    padding: 10px;
    background-color: #f3f3f3;
  }

  p {
    background-color: #fafbfc;
    padding: 0 15px !important;
    font-size: 18px;
  }
}

.expressive-code .frame.is-terminal .header {
  z-index: 0;
}

@media screen and (max-width: 720px) {
  .expressive-code {
    margin-bottom: 30px;
  }
}