:root {
  --yinyong: #6194a7;
  --lineHight: 2em;
}
p {
  font-size: 1em;
  line-height: var(--lineHight);
}
h1 {
  font-size: 2.8em;
}
h2 {
  font-size: 1.8em;
}
code {
  border-radius: 5px;
  margin: 0 5px;
  background: rgba(0, 0, 0, 0.06);
}
blockquote {
  border-left: 4px solid var(--yinyong);
  padding: 0 0 0 8px;
}
blockquote p {
  font-size: 20px;
}
details {
  box-shadow: 0.1rem 0.1rem 0.2rem #00000028;
  border-radius: 8px;
}
details summary {
  margin-top: 15px;
  padding: 10px;
  background-color: #f3f3f3;
}
details p {
  background-color: #fafbfc;
  padding: 0 15px !important;
  font-size: 18px;
}
