---
import Main from "../components/main.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import AboutMe from "../components/AboutMe.astro";
---

<BaseLayout>
  <Main>
    <AboutMe />
  </Main>
</BaseLayout>
