---
import BlogList from "../components/BlogList.astro";
import Main from "../components/main.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <Main>
    <BlogList slot="show"/>
  </Main>
</BaseLayout>
