---
import BlogList from "../components/BlogList.astro";
import Main from "../components/main.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "首页";
---

<BaseLayout>
	<!-- <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} /> -->
	<Main pageTitle={pageTitle}>
		<BlogList slot="show" />
	</Main>
</BaseLayout>
