---
import "../styles/global.css";
import Slider from "../components/Slider.astro";
import NavigationBar from "../components/NavigationBar.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>玛卡巴卡</title>
		<style></style>
	</head>
	<body>
		<NavigationBar />
		<Slider />
		<main>主要</main>
		<script is:inline src="/public/backgroud.js"></script>
	</body>
</html>
