---
// 这里是博客列表展示的组件
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "mkbk的 Astro 学习博客";
---

<div class="box1">
  <!-- 展示区域 -->
  <div class="showInfo">
    <h4>{pageTitle}</h4>
    <ul>
      {
        allPosts.map((post) => (
          <li class="blogList">
            <a href={post.url}>
              <div class="image">
                <img
                  src={post.frontmatter.image.url?post.frontmatter.image.url:"https://docs.astro.build/assets/rose.webp"}
                  alt={post.frontmatter.image.alt}
                />
              </div>

              <div class="descript">{post.frontmatter.title}</div>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style lang="less" scoped>
  .box1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    .showInfo {
      padding: 40px 20px;
      width: 880px;
      margin-left: 20px;
      background-color: rgba(255, 255, 255, 0.7);
      position: relative;
      float: right;
      border-radius: 10px;
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      .blogList {
        list-style-type: none;
        width: 200px;
        background-color: #eee;
        border-radius: 10px;
        margin: 10px;
        transition: all 0.7s;
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0px 3px 10px 0px rgb(172, 171, 171);
        }
        a {
          &:hover {
            color: #6bb7d3;
          }
          .image {
            width: 200px;
            height: 112px;
            overflow: hidden;
            border-radius: 10px 10px 0 0;
          }
          .descript {
            padding: 10px;
          }
        }
      }
    }
  }
</style>
