---
const { tags } = Astro.props;
---

<div class="category">
  <h5>Tags</h5>
  <div>
    {tags.map((tag) => <span class="iconfont blogtags tags">{tag}</span>)}
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tagsContainer = document.querySelector(".category");
    if (!tagsContainer) return;
    const rect = tagsContainer.getBoundingClientRect();
    let lastScrollPosition = 0;
    let ticking = false;
    function updateTagsContainer() {
      ticking = false;
      if (tagsContainer) {
        // 屏幕滚动距离
        const scrollPosition =
          document.documentElement.scrollTop || document.body.scrollTop;
        if (scrollPosition - rect.top + 80 >= 0) {
          tagsContainer.classList.add("fixed-tags");
        } else {
          tagsContainer.classList.remove("fixed-tags");
        }
      }
    }
    window.addEventListener("scroll", function () {
      const currentScrollPosition =
        window.pageYOffset || document.documentElement.scrollTop;

      // 只在滚动位置变化时才考虑更新
      if (currentScrollPosition !== lastScrollPosition) {
        lastScrollPosition = currentScrollPosition;

        // 使用节流技术
        if (!ticking) {
          window.requestAnimationFrame(updateTagsContainer);
          ticking = true;
        }
      }
    });
  });
</script>
<style lang="less" scoped>
  .category {
    position: relative;
    top: -160px;
    width: 300px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 3px 5px 5px 0px #888;
    backdrop-filter: blur(14px) saturate(180%);
    padding: 10px 15px;
    box-sizing: border-box;
    div {
      display: flex;
      flex-wrap: wrap;
      .tags {
        padding: 3px 5px;
        border-radius: 10px;
        letter-spacing: 1px;
        color: white;
        background-color: #6194a7;
        margin: 5px;
      }
    }
  }
  .fixed-tags {
    position: fixed;
    top: 80px;
  }
  @media screen and (max-width: 720px) {
    .fixed-tags {
      position: relative;
      top: -160px;
    }
  }
</style>
