---
const { tags } = Astro.props;
---

<div class="category">
  <h5>Tags</h5>
  <div>
    {tags.map((tag) => <span class="iconfont blogtags tags">{tag}</span>)}
  </div>
</div>

<style lang="less" scoped>
  .category {
    position: relative;
    top: -160px;
    width: 300px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 3px 5px 5px 0px #888;
    backdrop-filter: blur(14px) saturate(180%);
    padding: 10px 15px;
    box-sizing: border-box;
    div {
      display: flex;
      flex-wrap: wrap;
      .tags {
        padding: 3px 5px;
        border-radius: 10px;
        letter-spacing: 1px;
        color: white;
        background-color: #6194a7;
        margin: 5px;
      }
    }
  }
</style>
