---
import BlogContent from "../components/BlogContent.astro";
import Main from "../components/main.astro";
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <Main>
    <BlogContent />
  </Main></BaseLayout
>
